<h2>To Do Lists </h2>

<%= File.read("./app/views/todo_lists/_list.html").html_safe %>

<%= File.read("./app/views/todo_lists/_add_lists.html").html_safe %>
<%= File.read("./app/views/todo_lists/_form.html").html_safe %>

<%= File.read("./app/views/todo_lists/_add_list_item.html").html_safe %>


<%= form_for(@list,
							:remote => true,
							:html => {:class => "list_form"}) do |f| %>

	<%= f.label :title, "New List" %>
	<%= f.text_field :title %>
	<%= f.submit %>
<% end %>
<br />

<div id="add_here"> </div>

<a href="#" id="data_list_id"></a>

<script>

	$(function () {
		var LISTS = <%= @lists.to_json.html_safe %>



		var display_lists_code = $("#display_lists").html();
		var display_lists_fn = _.template(display_lists_code);
		var rendered_lists = display_lists_fn({LISTS: LISTS});

		$('#add_here').append(rendered_lists);


		$('.list_ul').on('click', ".list_link", function(event) {
			var link = $(event.currentTarget);					
			var list_div = link.closest('div');
			var items = list_div.find(".list_item");
			items.toggleClass("hidden");

		});

		$('.list_form').on('ajax:success', function(event, data){
			LISTS.push(data);
			$('#todo_list_title').text("");
			var add_lists_code = $("#add_lists").html();
			var add_lists_fn = _.template(add_lists_code);
			var added_list = add_lists_fn({list: data});
			$(".list_ul").append(added_list);
		})

		$(".new_item_form").on("submit", function(event){
			event.preventDefault();
			var form = $(this);
			var dataf = form.serialize();

			$.ajax({
				type: "POST", 
     		url: form.attr("action") + "?&authenticity_token=" + "<%=form_authenticity_token %>", 
      	data: dataf,

	      success:  function(data){	      	
					var list_id = data.todo_list_id - 1;
					LISTS[list_id].todo_items.push(data);
					var add_item_code = $("#add_list_item").html();
					var add_item_fn = _.template(add_item_code);
					var added_item = add_item_fn({item: data});
					var list = $("#list_div_1");
					console.log(added_item);
					console.log(list);
					list.prepend(added_item); //WHY ISN'T THIS WORKING??
				}
      });

			return false;

		})

		// can erb encode auth token


})

	
</script>


